<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Evidence</title>
    <style>
        h1 {
            text-align: center;
        }

        hr {
            border: none;
            height: 1px;
            color: black;
            background-color: black;
        }

        #signature {
            height: 75px;
        }

        #signature_line {
            width: 350px;
            float: left;
        }

    </style>
</head>
<body>
    <h1>Digital Forensics Investigation Documentation Evidence Form</h1>
    <div>
        <b>Section 1: Evidence Item Record</b>
        <p><span>Lab reference: </span><i>${LabRef}</i></p>
        <p><span>Case reference: </span><i>${CaseRef}</i></p>
        <p><span>Item reference: </span><i>${ItemUUID}</i></p>
        <p><span>Device description: </span><i>${DeviceDesc}</i></p>
        <p><span>Additional information: </span><i>${AdditionalInfo}</i></p>
    </div>
    <hr />
    <div id="section2">
        <b>Section 2: Investigator Details</b>
        <p><span>Device accepted by: </span><i>${InvestigatorName}</i></p>
        <p><span>Date and time received: </span><i>${SeizedDate}</i></p>
        <hr />
        <p id="signature"><span>Signature: </span></p><br><br>
        <hr id="signature_line" />
    </div>
</body>
</html>